[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "==0.110.0"}
mangum = "0.17.0"
openai = "*"
langchain = "*"
langchain-openai = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
